<main class="main" id="main">
    <div class="anime-div">

        <div class="anime-div__all-info">

            <div class="anime-name-description-div">

                <div class="anime-name"> 
                    <span id="anime-name" class="anime-name-span"></span> 
                    <div class="round brackets">
                        <span>(</span>
                        <span id="anime-type"></span>
                        <span class="anime-name__episodes-number" id="anime-name__episodes-number"></span> 
                        <span>)</span> 
                        <span class="anime-name__rating"> 
                            <span id="anime-name__rating-value"></span>
                            ★ 
                        </span>
                    </div>
                </div>

            </div>

            <div class="anime-div__info">

                <img class="anime-poster" src="" alt="" id="anime-poster">

                <div class="anime-description" id="anime-description">

                    <span class="anime-description-title">Description</span>
                    <span class="anime-description-description" id="anime-description-description"></span>

                </div>
                
            </div>

            <div class="anime-div__rating-and-main-hero-title">

                <div class="anime-rating" data-total-value="0" id="anime-rating">
                    <div class="rating__item" data-item-value="5">★</div>
                    <div class="rating__item" data-item-value="4">★</div>
                    <div class="rating__item" data-item-value="3">★</div>  
                    <div class="rating__item" data-item-value="2">★</div>
                    <div class="rating__item" data-item-value="1">★</div>
                </div>

                <span class="main-heroes__title">Main heroes</span>

            </div>

            <div class="anime-div__details-and-main-heroes-items">

                <div class="anime-details">

                    <div class="anime-details__item">
                        <b class="details">Release date: </b>
                        <span id="details__year"></span>
                    </div>

                    <div class="anime-details__item">
                        <b class="details">Raiting: </b>
                        <span id="details__rating"></span>
                    </div>

                    <div class="anime-details__item">
                        <b class="details">Status: </b>
                        <span id="details__status"></span>
                    </div>

                    <div class="anime-details__item">
                        <b class="details">Author: </b>
                        <span id="details__author"></span>
                    </div>

                    <div class="anime-details__item">
                        <b class="details">Director: </b>
                        <span id="details__director"></span>
                    </div>

                    <div class="anime-details__item">
                        <b class="details">Screenwriter: </b>
                        <span id="details__screenwriter"></span>
                    </div>

                    <div class="anime-details__item">
                        <b class="details">Producer: </b>
                        <span id="details__producer"></span>
                    </div>

                    <div class="anime-details__item">
                        <b class="details">Studio: </b>
                        <span id="details__studio"></span>
                    </div>

                    <div class="anime-details__item">
                        <b class="details">Adaptation: </b>
                        <span id="details__adaptation"></span>
                    </div>

                    <span class="genres__items">Genres: 
                        <ul class="genres__items" id="genres__items"></ul>
                    </span>

                </div>

                <div class="main-heroes__items" id="main-heroes__items"></div>

            </div>

        </div>

        <!-- <span class="titles watch-title">Watch</span>
        <div class="watch__content watch-content">
            <video class="watch-content__video" src="" controls id="watch-content__video"></video>
        </div> -->

        <div class="franchise-div" id="franchise-div"></div>

    </div>
</main>