<header class="header">
    <h1 class="header__title"><a href="/">My Shikimori</a></h1>
    <div>
        <input class="header__search-input" type="text" placeholder="Search_anime" id="header__search-input">
        <ul class="header__list header-list" id="header__list"></ul>
    </div>
</header>